/*--div---*/
body{
    background-color: #ffe9ef;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000d18;
}
div#content {
    display: flex;
    flex-direction: row; 
    gap: 5px;
    border-radius: 4px;
    background-color:#fffafb;
    max-width: fit-content;
    margin: auto;
    padding: 16px 32px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
div#header{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#builder{
    position: relative;
    width: 250px;       
    height: 500px;     
}
div.btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
    gap: 16px; 
}

/*---img---*/
img.building {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
}
#decor {
z-index: 20;
}
#flower {
z-index: 30;
}
#stem {
z-index: 10;
}
/*https://stackoverflow.com/questions/6488390/can-you-layer-pictures-on-top-of-each-other-on-a-webpage*/
img.btn {
    width: 48px;
    height: 48px;
}

/*---btn---*/
button {
    font-size: 24px;
    border-radius: 4px;
    border-width: 0px;
    background-color: #fffafb;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

button:hover {
    box-shadow: 0 0 12px #000d1884 inset;
    transform: translateY(-2px);
    /* Lift up */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

button:active {
    background-color: #000d1884;
}
button.arr {
    background: transparent;  
    border: none;            
    outline: none;          
}