img.building {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
}
div#builder{
    position: relative;
    width: 250px;       
    height: 500px;     
}
img.btn_arrow_icon {
    width: 32px;
    height: 32px;
}
#decor {
z-index: 20;
}

#flower {
z-index: 30;
}
button.btn {
    background: transparent;  
    border: none;            
    outline: none;          
}

#stem {
z-index: 10;
}
div#btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
    gap: 5px; 
}

div#content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    gap: 5px;
}

